.Search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
}

.Search_input {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #e3e3e3;
  padding-left: 10px;
  font-size: 16px;
}
